.content-wrap {
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.content {
}
.content::before {
	position: absolute;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	font-size: 30px;
	width: 60px;
	;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border: none;
	color: #fff;
	background: #de2727;
}
.menu-button::before {
}
.menu-button:hover {
	opacity: 0.6;
}
/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	left:0px;
	margin:0 auto;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}
.close-button::before, .close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #95a5a6;
}
.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* Menu */
.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 200px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.5s;
}
.menu {
	background: #000;
	width:100%;
	height: 100%;
	padding: 2em 1em;
}
#nav li.active{
	border:none;
}
#nav li{
	margin:0px;
}
.icon-list {
	width: 280px;
}
.icon-list a {
	display: block;
	padding: 0.8em;
}
.icon-list a i {
	opacity: 0.5;
}
.icon-list a span {
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 0.75em;
}
/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	fill: #000;
	z-index: 1000;
	display:none;
}
#banner{
	margin-top: 0px;
}
#nav li a{
	width: 100%;
	display: inline-block;
}
/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.show-menu .content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}
.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#nav li a {
	color: #fff;
	text-transform: uppercase;
	padding-left: 0px;
}
#nav > ul > li {
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}
#nav > ul > li.active {
	border-top: none;
	padding-top: 1px;
}
#nav > ul > li:hover {
	border-top: none;
	padding-top: 1px;
}
#nav {
	margin-top:25px;
}
.logo{
	width:100%;
	text-align:center;
	margin-top:50px;
}

.menu-button{
	background: #3193c5;
}
.navbar{
	background: none;
}

#restaurant .menu{
	padding:2em 0em; 
}
#restaurant #nav li{
	margin:0px; 
}
#restaurant #nav > ul > li.active{
	border: none;
}
#restaurant #nav > ul > li.active a{
	color: #de2727;
}
#restaurant #nav > ul > li:hover{
	border: none;
}
#real-estate .menu-wrap{
	top:0px;
	background:#000;
}
#real-estate  .menu{
	background:#000;
}
#real-estate #nav {
	margin-top: 50px;
}
#real-estate #nav li a{
	padding:10px 0px;
}
#real-estate .close-button i {
	color: #cacaca;
	margin-top: 8px;
}
#product #nav{
	margin-top:50px;
}

/*==========================================================
		RESPONSIVE SCREEN 767px
===========================================================*/
@media(max-width:767px) {
#product .menu-wrap{
	background: #000;
}
.menu-wrap .logo{
	margin-top: 50px;
}
}